body {
  background: lightblue;
}
header {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  display: flex;
  justify-content:  space-around;
  align-items:  center;
  user-select: none;
}

header .ti {
  flex: 2 100%;
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
header .le {
  background: #333;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #222;
}
header h1 {
  align-self: center;
}
header div {
  height: 3em;
  overflow: hidden;
}
header div p{
  font-size: 1.5em;
  line-height: 2em;
}
header div p:first-child {
  animation: ke 13s 3s ease-out infinite;
}
header div p {
  margin-top:0em;
  animation: re 6s 3s infinite alternate;
}
@keyframes ke {
  0% {margin-top:0em;}
  14% {margin-top:0em;}
  16.6% {margin-top:-4em;}
  31% {margin-top:-4em;}
  33.3% {margin-top:-2em;}
  48% {margin-top:-2em;}
  50% {margin-top:-8em;}
  64% {margin-top:-8em;}
  66.6% {margin-top:-6em;}
  81% {margin-top:-6em;}
  83.3% {margin-top:-10em;}
  98% {margin-top:-10em;}
  100% {margin-top:0;}
}
@keyframes re {
  0% {font-variant: all-petite-caps}
  20% {font-style: italic}
  40% {font-weight: 800}
  60% {font-family:Montserrat Alternates}
  80% {font-weight: 100}
  100% {font-variant: all-small-caps}
}
header.pre div {
  flex: 0%;
  padding: 0;
  width: 0;
  opacity: 0;
  transition:.7s ease;
}
header.pos div {
  flex: 2 50%;
  opacity: 1;
  padding: 0 1%;
  width: auto;
  transition:.7s ease;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111;
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #aae;
  }
}