*:root {
  --main1: #008db8;
  --main2: #007599;
  --main3: #005e7a;
  --main4: #003342;
  --main5: #001a22;
  
  --second1: #00d6a1;
  --second2: #00a77d;
  --second3: #008563;
  --second4: #004b38;
  --second5: #002018;

  --theme:#a33;
  --background:#2c292d;
  /* --other:#2c292d; */
}

body {
background: var(--theme);
/*   background: linear-gradient(90deg,var(--second3),var(--second5)); */
}

canvas.headerCanvas {
position: absolute;
z-index: -1;
mix-blend-mode: overlay
}
/* Well... */
header { 
width: 100vw;
height: 100vh;
max-width: 100vw;
max-height: 100vh;
min-width: 100vw;
min-height: 100vh;
}
header>* {
width: 100vw;
height: 100vh;
}
header div.canv {
z-index: 1000;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(30em,auto))
}

header div.canv div.title {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 1em;

}

header div.canv div.title h1 {
font-family: mono;
font-size: 6em;
font-variant: all-petite-caps;
}

header div.canv div.title p {
  font-family: mono;
  font-size: 2.5em;
  text-align: center;
  font-variant-caps: petite-caps;
  max-width: 100vw;
  width: 50vw;
}

header div.rsBanner {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: end;
}
header div.rsBanner div.iconCont {
  padding: 1em;
  display: flex;
  flex-direction: row
}
header div.rsBanner div.rsIcon {
  padding-left: 1em;
}
header div.rsBanner div.rsIcon svg {
  width: 5em;
  height: 5em;
}