body {
  display: flex;
  flex-direction: column;
  
}
section {
  width: 100vw;
  height: 100vh;
}
header {
  width: 100%;
/*   height: 10vh; */
  background: var(--background);
}
nav {
  display: flex;
/*   padding: 1em; */
  color: #fff;
  justify-content: space-between;
}
section.main nav ul {
  list-style: none;
  display: flex;
}
section.main nav li {
  margin: 0 .5em;
  font-family: Montserrat Alternates;
  font-weight: 500;
  padding: 1em;
}
section.main nav img {
  margin-left: 1em;
  width: 3em;
  height: 3em;
}
section.main nav li:hover {
  text-decoration: underline .1em wavy;
  cursor: pointer;
}
section.main {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#ab9df2, #6F55F2);
}
section.main>div.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex:1 100%;
  background-position-x: center;
  background-position-y: bottom;
  background: linear-gradient(#ab9df280, #6F55F280) right bottom,
    linear-gradient(#ab9df280, #6F55F280) left top,
    url(../img/undraw_progressive_app_m-9-ms.svg) right bottom,
    url(../img/undraw_design_components_9vy6.svg) left top;
  background-size: 45vw auto;
  background-repeat: no-repeat;
  border: 1em transparent solid;
/*   background: linear-gradient(#ab9df290, #6F55F290); */
}
section.main>div.name h1 {
  font-weight: 100;
  font-size: 6em;
  font-variant: all-petite-caps;
  text-align: center;
  animation: 6s 2s title alternate infinite;
  text-decoration-color: var(--colorF)
}
@keyframes title {
  0% {font-variant: all-petite-caps;}
  15% {text-decoration: line-through wavy var(--colorFs)}
  25% {font-variant: initial}
  50% {text-decoration: underline var(--colorF)}
  75% {font-weight: 300}
  85% {text-decoration: none var(--colorF)}
  100% {font-family: Montserrat Alternates;}
}
section.main>div.name i {
  text-align: center;
  font-size: 1.5em;
}

@media (orientation:portrait) {
  section.main>div.name {
    background-position-x: center;
    background-position-y: bottom;
    background: linear-gradient(#ab9df280, #6F55F280) center bottom,
      linear-gradient(#ab9df280, #6F55F280) center top,
      url(../img/undraw_progressive_app_m-9-ms.svg) center bottom,
      url(../img/undraw_design_components_9vy6.svg) center top;
    background-size: 75vw auto;
    background-repeat: no-repeat;
    border: 1em transparent solid;
/*   background: linear-gradient(#ab9df290, #6F55F290); */
}
}