body {
  font-family:"Montserrat";
  user-select: none;
}

article {
  margin: 5%;
  letter-spacing: .02em;
  word-spacing: .2em;
}
.hd {
  margin:0 33%;
  display: flex;
  flex-flow: column;
  text-align: center;
}
.hd>* {
  display: block;
  width: 100%;
}
.hd img {
  padding: 0 25%;
  animation: 4s apear;
}
@keyframes apear {
  0% {opacity: 0;}
  100% {opacity:1;}
}
article hr {
  border: #444 .15em solid;
  margin: 6% 0;
}
article>hr:first-of-type {
  border: #ddd .15em solid;
  margin: 5% 0;
}
.card {
  display: flex;
  padding: 3% 0;
  opacity: 0;
  transform: scale(.8);
}
.card>.sub>* {
  margin: 1% 0;
}
.card img {
  width: 100%;
  padding: 5%;
  background: #fefefe;
  max-height: 100%;
}
.card .img {
  min-width: 50%;
}
.i {
  opacity: 1;
  transform: scale(1);
  transition: 2s ease;
}
.sub>a {
  color: #000;
  font-size: 1.5em;
  letter-spacing: 0;
}
.sub>a:hover {
  text-decoration: underline;
}
.sub ul {
  display: flex;
}
.sub li {
  width: 100%;
  margin: 1%;
  
}
.sub ul a {
  background: #222;
  color: #fff;
  padding: 4%;
  display: block;
  text-align: center;
}
.sub ul a:hover {
  background: #000;
}
.med {
  display: flex;
  flex-flow: row;
  transform: scale(0);
}
.y {
  transform: scale(1);
  transition: .4s ease;
}
.med li {
  width: 100%;
  display: flex;
  justify-content: center;
}
.med li a {
  padding: 15%;
  display:block;
  background: #444;
  margin: 1%;
  border-radius: 25%;
  transition: .4s ease;
}

#a.z {
  background: url(./Svg/github.svg) no-repeat;
}
#b.z {
  background: url(./Svg/tumblr.svg) no-repeat;
}
#c.z {
  background: url(./Svg/instagram.svg) no-repeat;
}
#d.z {
  background: url(./Svg/google.svg) no-repeat;
}
#e.z {
  background: url(./Svg/discord.svg) no-repeat;
}

footer {
  text-align: center;
  padding: 1%
}
@media (max-width:600px) {
  .sub ul {
    flex-flow: column;
  }
}
@media (max-width:550px) {
  .hd {
    margin:0;
  }
}