body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap:  wrap;
  font-family: Montserrat;
  overflow-x: hidden;
  opacity: 0;
  background: #000;
}
body.lod {
  opacity: 1;
  transition: .2s ease-in;
}

/* Header */
header {
  display: flex;
  min-height: 100vh;
  flex-wrap:  wrap;
  background:linear-gradient(125deg,#422,#a44);
  user-select:  none;
}

header>div {
  text-align: center;
}
  /* Titulo */

header>.title {
  background: #3333;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:  center;
  flex: 1 100%;
  opacity: 0;
  padding-bottom: 50%;
  transition:.2s ease-out;
}
body header>.title.ap.re {
  opacity: 1;
  padding-bottom: 0%;
  transition:.5s .5s ease-in;
}
header .title p {
  font-size: 2.5vw;
  font-weight: 200;
}

header h1 {
  font-weight: 800;
  font-size: 12vw;
  font-family: Montserrat Alternates;
  background: linear-gradient(90deg,#113,#247);
  background-clip: text;
  -webkit-background-clip: text;
  color: #0000;
}

  /* Side */
header div.imgbk {
 display: flex;
 flex-direction: column;
 height: 100vh;
 flex: 1 50%;
}
header div.dimgs {
  position: relative;
  overflow: hidden;
  flex: 3 50%;
  padding-top: 15%
}
header div.imgbk div.smaTi {
  flex: 1 auto;
}
header div.p {
  flex: 1 auto;
  padding: 5%;
  opacity: 0;
  transition:.2s ease-out;
}

body header div.re.ap .dimgs img:first-of-type {
  margin-top:5vh;
  transition:.5s ease-in;
}
body header div.re.ap .dimgs img:last-of-type {
  margin-top:-5vh;
  transition:.5s ease-in;
}

header div.dimgs>img {
  background-color: #444a;
  width: 70%;
  transform: rotateX(40deg) rotateZ(30deg);
  position: absolute;
  opacity: .96;
  left: 15%;
  transition:.2s ease-out;
}
header div.dimgs>img.ex {
  opacity: 1;
  transition:.1s ease-in;
}
header div.dimgs.hov>img:not(.ex) {
  opacity: .1;
  transition:.2s ease-out;
}

header div.imgbk h2 {
  background: linear-gradient(90deg,#0000,#222,#0000);
  width: 100%;
  color: #eee;
  opacity: 0;
  transition:.2s ease-out;
}
body header div.re.ap h2 {
  opacity: 1;
  transition:.2s .6s ease-in;
}

body header div.re.ap .p {
  opacity: 1;
  transition:.2s .2s ease-in;
}
/* Botones */
header div.sosel {
  display: flex;
  transform: rotateX(90deg);
}
body header div.re.ap .sosel {
  transform: rotateX(0deg);
  transition:.2s .4s ease-in;
}

header div.sosel a {
  color: #fff;
  text-decoration: none;
  display: flex;
  font-weight: 800;
  background: #000;
  align-items: center;
  flex: 2 50%;
  margin: 0% 5% 15% 5%;
  justify-content: center;
  overflow: hidden;
}
header div.sosel a:hover {
  filter: invert(1);
  transition: .2s ease-in
}

div.sosel img {
  filter: invert(1);
  margin: 5%;
  width: 3em
}
div.sosel p {
  margin: 5%;
}

/* Download */
.laq {
  position:fixed;
  display: none;
  opacity:0;
  transition:.2s ease;
  user-select: none;
  font-variant: all-petite-caps;
  overflow: hidden
}
div.laq:not(.rs) {
    width: 90%;
  height: 90%;
  max-width: 90%;
  max-height: 90%;
  margin:2.5% 5%;
}

div.dow ,div.dow2{
  position: absolute;
  width: 100%;
  height: 100%;
  transition:.2s ease;
  clip-path: circle(100%);
}

.laq.h {
  display: block;
  transition:.2s ease;
  opacity: 1;
}
.laq.rs {
  width: 100%;
  height: 100%;
  background: #0004;
  transition: .2s ease-in
}
body div.laq.dis {
  opacity: 0;
  transition:.5s ease;
}

div.dow2 {
  background: #000;
  animation: 1.5s ease al;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
div.dow2 a {
  text-decoration: none;
  color: #fff;
  padding: 5%;
  background: #f44;
  font-size: 1.5em
}
div.dow2 .list:hover a{
  background: #e55;
  transition: .3s ease;
}
div.dow2 .list  a:hover {
  background: #f33;
  transition: .2s ease;
}
div.dow2 h2 {
  flex: 1 100%;
  padding-top: 5%;
  font-size: 2.5em;
}
div.dow2 .list {
  flex: 1 100%;
  display: flex;
  justify-content: center;
  align-items:  start;
  opacity: 0;
}

.laq.h div.dow2 .list{
  opacity: 1;
  animation: 1.5s q;
}

@keyframes q {
  0% {opacity: 0;}
  65% {opacity: 0;}
  100% {opacity: 1;}
}

div.dow {
  background: #422;
  animation: 1.5s ease al2;
}

@keyframes al2 {
  0% {clip-path:circle(0%);}
  11% {clip-path:circle(50%);}
  22% {clip-path:circle(100%);}
  44% {background: #a44}
  100% {background: #422}
}
@keyframes al {
  0% {clip-path:circle(0%);color: #0000}
  22% {clip-path:circle(0%);}
  33% {clip-path:circle(50%);background: #422}
  54.9% {clip-path:circle(100%)}
  55% {clip-path:circle(0%)}
  66% {clip-path:circle(50%);background: #000;}
  100% {clip-path:circle(100%);color: #fff}
}

/* COntenido Downl */

/* Responsive Desing */
@media (width > 720px) { /*buscar para wide y landscape */
  header>.title {
    flex: 1 50%;
    transition: .3s ease;
  }
  header div.dimgs {
    padding-top: 20%
  }
}

@media (orientation: portrait) {
  header>.title {
    flex: 1 100%;
    transition: .3s ease;
  }
  header div.dimgs {
    padding-top: 20%
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #aae;
  }
}