/* Normalize and Clean Syles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,::after,::before{box-sizing:border-box}html{font-family:system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';line-height:1.15;-webkit-text-size-adjust:100%;-moz-tab-size:4;tab-size:4}hr{height:0;color:inherit}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}::-moz-focus-inner{border-style:none}:-moz-focusring{outline:1px dotted ButtonText}:-moz-ui-invalid{box-shadow:none}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}

/* Monserrat */

/** Montserrat Thin **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: url("../Fonts/Montserrat-Thin.woff2") format("woff2"), url("../Fonts/Montserrat-Thin.woff") format("woff");
}

/** Montserrat Thin-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: italic;
  src: url("../Fonts/Montserrat-ThinItalic.woff2") format("woff2"), url("../Fonts/Montserrat-ThinItalic.woff") format("woff");
}

/** Montserrat ExtraLight **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  src: url("../Fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../Fonts/Montserrat-ExtraLight.woff") format("woff");
}

/** Montserrat ExtraLight-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: italic;
  src: url("../Fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../Fonts/Montserrat-ExtraLightItalic.woff") format("woff");
}

/** Montserrat Light **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("../Fonts/Montserrat-Light.woff2") format("woff2"), url("../Fonts/Montserrat-Light.woff") format("woff");
}

/** Montserrat Light-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
  src: url("../Fonts/Montserrat-LightItalic.woff2") format("woff2"), url("../Fonts/Montserrat-LightItalic.woff") format("woff");
}

/** Montserrat Regular **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../Fonts/Montserrat-Regular.woff2") format("woff2"), url("../Fonts/Montserrat-Regular.woff") format("woff");
}

/** Montserrat Regular-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("../Fonts/Montserrat-Italic.woff2") format("woff2"), url("../Fonts/Montserrat-Italic.woff") format("woff");
}

/** Montserrat Medium **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("../Fonts/Montserrat-Medium.woff2") format("woff2"), url("../Fonts/Montserrat-Medium.woff") format("woff");
}

/** Montserrat Medium-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: italic;
  src: url("../Fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("../Fonts/Montserrat-MediumItalic.woff") format("woff");
}

/** Montserrat SemiBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../Fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../Fonts/Montserrat-SemiBold.woff") format("woff");
}

/** Montserrat SemiBold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: italic;
  src: url("../Fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../Fonts/Montserrat-SemiBoldItalic.woff") format("woff");
}

/** Montserrat Bold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../Fonts/Montserrat-Bold.woff2") format("woff2"), url("../Fonts/Montserrat-Bold.woff") format("woff");
}

/** Montserrat Bold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  src: url("../Fonts/Montserrat-BoldItalic.woff2") format("woff2"), url("../Fonts/Montserrat-BoldItalic.woff") format("woff");
}

/** Montserrat ExtraBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("../Fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../Fonts/Montserrat-ExtraBold.woff") format("woff");
}

/** Montserrat ExtraBold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: italic;
  src: url("../Fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../Fonts/Montserrat-ExtraBoldItalic.woff") format("woff");
}

/** Montserrat Black **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("../Fonts/Montserrat-Black.woff2") format("woff2"), url("../Fonts/Montserrat-Black.woff") format("woff");
}

/** Montserrat Black-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: url("../Fonts/Montserrat-BlackItalic.woff2") format("woff2"), url("../Fonts/Montserrat-BlackItalic.woff") format("woff");
}

/** =================== MONTSERRAT ALTERNATES =================== **/

/** Montserrat Alternates Thin **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 100;
  font-style: normal;
  src: url("../Fonts/MontserratAlternates-Thin.woff2") format("woff2"), url("../Fonts/MontserratAlternates-Thin.woff") format("woff");
}

/** Montserrat Alternates Thin-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 100;
  font-style: italic;
  src: url("../Fonts/MontserratAlternates-ThinItalic.woff2") format("woff2"), url("../Fonts/MontserratAlternates-ThinItalic.woff") format("woff");
}

/** Montserrat Alternates ExtraLight **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 200;
  font-style: normal;
  src: url("../Fonts/MontserratAlternates-ExtraLight.woff2") format("woff2"), url("../Fonts/MontserratAlternates-ExtraLight.woff") format("woff");
}

/** Montserrat Alternates ExtraLight-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 200;
  font-style: italic;
  src: url("../Fonts/MontserratAlternates-ExtraLightItalic.woff2") format("woff2"), url("../Fonts/MontserratAlternates-ExtraLightItalic.woff") format("woff");
}

/** Montserrat Alternates Light **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 300;
  font-style: normal;
  src: url("../Fonts/MontserratAlternates-Light.woff2") format("woff2"), url("../Fonts/MontserratAlternates-Light.woff") format("woff");
}

/** Montserrat Alternates Light-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 300;
  font-style: italic;
  src: url("../Fonts/MontserratAlternates-LightItalic.woff2") format("woff2"), url("../Fonts/MontserratAlternates-LightItalic.woff") format("woff");
}

/** Montserrat Alternates Regular **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  src: url("../Fonts/MontserratAlternates-Regular.woff2") format("woff2"), url("../Fonts/MontserratAlternates-Regular.woff") format("woff");
}

/** Montserrat Alternates Regular-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: italic;
  src: url("../Fonts/MontserratAlternates-Italic.woff2") format("woff2"), url("../Fonts/MontserratAlternates-Italic.woff") format("woff");
}

/** Montserrat Alternates Medium **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-style: normal;
  src: url("../Fonts/MontserratAlternates-Medium.woff2") format("woff2"), url("../Fonts/MontserratAlternates-Medium.woff") format("woff");
}

/** Montserrat Alternates Medium-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-style: italic;
  src: url("../Fonts/MontserratAlternates-MediumItalic.woff2") format("woff2"), url("../Fonts/MontserratAlternates-MediumItalic.woff") format("woff");
}

/** Montserrat Alternates SemiBold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-style: normal;
  src: url("../Fonts/MontserratAlternates-SemiBold.woff2") format("woff2"), url("../Fonts/MontserratAlternates-SemiBold.woff") format("woff");
}

/** Montserrat Alternates SemiBold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-style: italic;
  src: url("../Fonts/MontserratAlternates-SemiBoldItalic.woff2") format("woff2"), url("../Fonts/MontserratAlternates-SemiBoldItalic.woff") format("woff");
}

/** Montserrat Alternates Bold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 700;
  font-style: normal;
  src: url("../Fonts/MontserratAlternates-Bold.woff2") format("woff2"), url("../Fonts/MontserratAlternates-Bold.woff") format("woff");
}

/** Montserrat Alternates Bold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 700;
  font-style: italic;
  src: url("../Fonts/MontserratAlternates-BoldItalic.woff2") format("woff2"), url("../Fonts/MontserratAlternates-BoldItalic.woff") format("woff");
}

/** Montserrat Alternates ExtraBold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 800;
  font-style: normal;
  src: url("../Fonts/MontserratAlternates-ExtraBold.woff2") format("woff2"), url("../Fonts/MontserratAlternates-ExtraBold.woff") format("woff");
}

/** Montserrat Alternates ExtraBold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 800;
  font-style: italic;
  src: url("../Fonts/MontserratAlternates-ExtraBoldItalic.woff2") format("woff2"), url("../Fonts/MontserratAlternates-ExtraBoldItalic.woff") format("woff");
}

/** Montserrat Alternates Black **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 900;
  font-style: normal;
  src: url("../Fonts/MontserratAlternates-Black.woff2") format("woff2"), url("../Fonts/MontserratAlternates-Black.woff") format("woff");
}

/** Montserrat Alternates Black-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: url("../Fonts/MontserratAlternates-BlackItalic.woff2") format("woff2"), url("../Fonts/MontserratAlternates-BlackItalic.woff") format("woff");
}
body {
  font-family: Montserrat;
}

*:root {
  --main1: #008db8;
  --main2: #007599;
  --main3: #005e7a;
  --main4: #003342;
  --main5: #001a22;

  --second1: #00d6a1;
  --second2: #00a77d;
  --second3: #008563;
  --second4: #004b38;
  --second5: #002018;

  --backg1: #d30046;
  --backg2: #b3003b;
  --backg3: #7a0029;
  --backg4: #5c001f;
  --backg5: #27000d;

  --foreg1: #00e73a;
  --foreg2: #00b92e;
  --foreg3: #009225;
  --foreg4: #005e17;
  --foreg5: #00300c;

  --gray1:#8f8f8f;
  --gray2:#858585;
  --gray3:#272727;
  --gray4:#1a1a1a;
  --gray5:#000;

  /* MONOKAI JS */
  --colorA: #ff6188;
  --colorB: #fc9867;
  --colorC: #ffd866;
  --colorD: #a9dc76;
  --colorE: #78dce8;
  --colorF: #ab9df2;

  --colorAs: #FF144E;
  --colorBs: #FC651C;
  --colorCs: #FFC519;
  --colorDs: #88DC35;
  --colorEs: #33D5E8;
  --colorFs: #6F55F2;

  --foreground: #fdf9f3;
  --background: #2c292d;

}

/* Blog Shared */

.bannerLogo {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 2 50%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerLogo .banimg {
  position: absolute;
  width: 350px;
  height: 350px;
  display:none;
}

.bannerLogo img {
  image-rendering: pixelated;
  position: absolute;
}

.bannerLogo img.float.tl {
  left: 5px;
  top: 5px;
  animation:float 4s infinite ease;
  transition: .5s ease-in;
}
.bannerLogo img.float.rb {
  right: 5px;
  bottom: 5px;
  animation:float 4s infinite ease;
  transition: .5s ease-in;
}

.bannerLogo img.center {
  left: 72px;
  top: 108px;
  animation:float 6s infinite ease;
}

.bannerLogo:has(img.center:hover,img.float.rb:hover) img.float.tl {
  left:0;
  top: 0;
  /* scale: .9; */
  animation-duration: 6s;
  transition: .4s ease-in;
}

.bannerLogo:has(img.center:hover,img.float.tl:hover) img.float.rb {
  right: 0;
  bottom: 0;
  /* scale: .9; */
  animation-duration: 6s;
  transition: .4s ease-in;
}

.bannerLogo img.float.tl:hover,.bannerLogo img.float.rb:hover {
  scale: 1.1;
}

.bannerLogo div.grad {
  position: absolute;
  /* top: 25px; */
  /* left: 25px; */
  width: 350px;
  height: 350px;
  background: linear-gradient(90deg,#3e63dd 0, #ffc400 7.5em,#bb0000 15em);
  filter: blur(65px) opacity(.7);
  transition:.5s ease-out;
}
.bannerLogo:hover div.grad {
  opacity: 1;
  transition:.3s ease-in;
  filter: blur(75px) opacity(1);
}

@keyframes float {
  0% {transform: translateY(3%)}
  50% {transform: translateY(-1%)}
  100% {transform: translateY(3%)}
}

/* Title */

@keyframes titleGradAnim {
  to {
      background-position: 0em;
  }
  from {
      background-position: 15em;
  }
}