---
import PortfolioLayout from "../../layouts/PortfolioLayout.astro";
import Sectionkicad from "../../components/Sectionkicad.astro";
import SectionBlog from "../../components/SectionBlog.astro";
import SectionSkills from "../../components/SectionSkills.astro";
import SectionGithub from "../../components/SectionGithub.astro";
import SectionHome from "../../components/SectionHome.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import CTA from "../../components/CTA.astro";
import SkipToContent from "../../components/SkipToContent.astro";
import "../styles/stylesU.css";
---

<PortfolioLayout title="Jackestar — Portfolio">
	<SkipToContent targetId="kicad"/>
	<Header />
	<CTA />


	<main>
		<SectionHome />
		<Sectionkicad />
		<SectionGithub />
		<SectionSkills />
		<SectionBlog />
	</main>
	<Footer />
</PortfolioLayout>

<script>
	import { initMain } from "../js/main.js";
	initMain();
</script>

<style is:global>
	body {
		background: var(--bg-color);
		color: var(--text-main);
		overflow-x: hidden;
		font-family: var(--font-main);
	}

	main section {
		min-width: 100vw;
		min-height: 100vh;
	}
</style>
