.main div img {
    background: #fff;
    border-radius: .25em;
    /* padding: 1em; */
    color:#000;
    text-align: center;
    /* font-variant: small-caps; */
}

.main p:has(img) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main p img {
    margin-bottom: .25em;
}

.main details.answer {
    border: .2em solid var(--vp-c-text-3);
    border-radius: 2em;
    padding: 1em;
}

.main details.answer summary {
    margin-left: 1em;
    cursor: pointer;
}

.main blockquote {
    background: #aaf2;
    border-left: .3em solid #aaf;
    border-radius: 0 .25em .25em 0;
}

.main .custom-block-title {
    display: none;
}

.main h1.name span {
    font-family: Montserrat Alternates;
    background: linear-gradient(90deg,#b00 0, #ffc400 7.5em,#bb0000 15em) text;
    transition: .5s ease-out;
    background-size: 15em;
    background-position: -2em;
    animation: 10s title infinite;
}

@keyframes title {
    to {background-position: 0em;}
    from {background-position: 15em;}
}

.main h1.name span:hover {
    background-position: -1em;
    transition: 1s ease-in;
}

.main div.console div.language-bash code>span:first-child:before,.main div.language-console code>span:first-child:before {
    content: '$ ';
}