* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat'
}

body {
  background: #222;
  overflow-x:auto !important;
}
/* Loader */
.blk {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  cursor: not-allowed;
  background: #eee4;
}

body.a .blk {
  display: none;
}

body:not(.a) a, body:not(.a) input,body:not(.a) h2{
   color: #0000 !important;
  opacity: .1;
  transition: .2s ease-out
}

header {
  display: flex;
  flex-flow:  column;
  align-items: center;
  padding-top: 1%;
}

header h1 {
  background: linear-gradient(90deg,#ffc,#dbe) text;
  color: #0000;
  text-align: center;
  flex: 100% 1;
  flex-wrap:  wrap;
  animation: rel 2s ease infinite;
}

@keyframes rel {
  0% {background-position: 50vh}
  0% {background-position: -50vh}
  100% {background-position: 100vh}
}
body.a header h1 {
  animation: none;
/*   background: linear-gradient(90deg,#ffc,#dbe) text; */
}

header input {
  flex: 33% 3;
  padding: .7em;
  text-align: center;
  border: solid .4em #eee;
  background: #ddd;
  margin: 1%;
  border-radius: 5px;
}
header a {
  padding: .7em;
  background: #444;
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  flex: 33% 3;
}

header .tam {
  margin: 1em;
}
/* Tabla */
.tab {
display: flex;
  flex-wrap: wrap;
}
.tab .tx {
  flex: 2 75%;
  border-radius: 0 10px 10px 0;
/*   width: max-content; */
}
.tab .vl {
  width: min-content;
  border-radius: 10px 0 0 10px;
  
}
.tab tr {
  display:flex;
}
.tab td {
  background: #333;
  border: .4em solid #555;
  width: 100%;
  min-height: 3em;
}
.tab td input {
  padding-inline-start: 1em;
  transition: .2s ease-out;
  width: 100%;
  height: 100%;
  text-align: center;
}

.tab td {
  display: flex;
  justify-content: center;
  align-items: center
}
.tab .tx td {
  height: 4em;
}
.tab .vl td {
  height: 4em;
  width: 4em;
}
.tab table {
  background: #555;
}

.tab .al {
  transition: .2s ease-out;
  flex: 1 100%;
}
.tab .al a {
  text-decoration: none;
  color: #fff;
  background: #444;
  padding: .7em;
  font-weight: 800;
}

.tab table td {
  color: #fff;
  text-align: center;
  font-weight: 600;
}

.rec {
  padding: 3%;
  display: flex;
  flex-direction: column;
}
.rec {
  background: #eee;
}

@media  (orientation: portrait) {
  .tab {
    width: max-content;
  }
  table.vl td {
     border-right: none;
  }
  table.tx td {
    border-left: none;
  }
  .rec {
   width: max-content
  }
}