---
interface Prop {
	title:string;
}

const {title} = Astro.props;
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
---

<!DOCTYPE html>
<html lang={lang}>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{title}</title>
	<link rel="manifest" href="mainpage.json" />
	<meta property="og:title" content="Jackestar" />
	<meta name="theme-color" content="#00ff9d" />
	<link rel="shortcut icon" href="/manifest/favicon128.png" type="image/x-icon">
</head>

<body>
	<slot />
</body>

</html>

